<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <!--            <directory suffix="Test.php">./tests/Unit</directory>-->
            <!--            <file>./tests/Unit/U01_JwtServiceTest.php</file>-->
            <!--            <file>./tests/Unit/U02_UserServiceTest.php</file>-->
            <!--            <file>./tests/Unit/U03_ReportServiceTest.php</file>-->
            <!--            <file>./tests/Unit/U04_ReporteControllerTest.php</file>-->
            <!--            <file>./tests/Unit/U05_JwtMiddlewareTest.php</file>-->
            <!--            <file>./tests/Unit/U06_DeleteFeedbackValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U07_DeleteReportValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U08_RequestValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U09_InsertFeedbackValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U10_InsertReportValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U11_LoginValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U12_UpdateTipoReporteValidatorTest.php</file>-->
            <!--            <file>./tests/Unit/U13_ObjectsUtilsTest.php</file>-->
            <!--            <file>./tests/Unit/U14_StringsUtilsTest.php</file>-->
            <!--            <file>./tests/Unit/U15_UsuarioControllerTest.php</file>-->
            <!--            <file>./tests/Unit/U16_ApoyoControllerTest.php</file>-->
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <file>./tests/Unit/U13_ObjectsUtilsTest.php</file>
            <file>./tests/Unit/U14_StringsUtilsTest.php</file>
            <!--            <file>./tests/Feature/F01S01_GetUsers_UserListWithItems_Test.php</file>-->
            <!--            <file>./tests/Feature/F01S02_GetUsers_UserListEmpty_Test.php</file>-->
            <!--            <file>./tests/Feature/F02S01_Login_LoginCorrect_Test.php</file>-->
            <!--            <file>./tests/Feature/F02S02_Login_LoginIncorrect_Test.php</file>-->
            <!--            <file>./tests/Feature/F02S03_Login_LoginWithMissingData_Test.php</file>-->
            <!--            <file>./tests/Feature/F02S04_Login_ValidateCorrectToken_Test.php</file>-->
            <!--            <file>./tests/Feature/F02S05_Login_ValidateIncorrectToken_Test.php</file>-->
            <!--            <file>./tests/Feature/F03S01_GetReports_ReportListWithItems_Test.php</file>-->
            <!--            <file>./tests/Feature/F04S01_InsertReport_SuccessfulReportInsertion_Test.php</file>-->
            <!--            <file>./tests/Feature/F04S02_InsertReport_MissingDataReportInsertion_Test.php</file>-->
            <!--            <file>./tests/Feature/F05S01_UpdateReportType_Successful_Test.php</file>-->
            <!--            <file>./tests/Feature/F05S02_UpdateReportType_NonExistentType_Test.php</file>-->
            <!--            <file>./tests/Feature/F06S01_DeleteReport_SuccessfulDeletion_Test.php</file>-->
            <!--            <file>./tests/Feature/F06S02_DeleteReport_NonExistentDeletion_Test.php</file>-->
            <!--            <file>./tests/Feature/F07S01_GetPendingFeedback_ListWithItems_Test.php</file>-->
            <!--            <file>./tests/Feature/F08S01_InsertFeedback_Successful_Test.php</file>-->
            <!--            <file>./tests/Feature/F08S02_InsertFeedback_MissingData_Test.php</file>-->
            <!--            <file>./tests/Feature/F08S03_InsertFeedback_NonExistentReport_Test.php</file>-->
            <!--            <file>./tests/Feature/F09S01_DeleteFeedback_SuccessDeletion_Test.php</file>-->
            <!--            <file>./tests/Feature/F09S02_DeleteFeedback_MissingData_Test.php</file>-->
            <!--            <file>./tests/Feature/F10S01_GetSupportList_ListWithITems_Test.php</file>-->
            <!--                        <file>./tests/Feature/F10S02_GetSupportList_EmptyList_Test.php</file>-->
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory>app/Console</directory>
                <directory>app/Exceptions</directory>
                <directory>app/Providers</directory>
                <file>app/Http/Middleware/Authenticate.php</file>
                <file>app/Http/Middleware/CheckForMaintenanceMode.php</file>
                <file>app/Http/Middleware/EncryptCookies.php</file>
                <file>app/Http/Middleware/RedirectIfAuthenticated.php</file>
                <file>app/Http/Middleware/TrimStrings.php</file>
                <file>app/Http/Middleware/TrustHosts.php</file>
                <file>app/Http/Middleware/TrustProxies.php</file>
                <file>app/Http/Middleware/VerifyCsrfToken.php</file>
                <file>app/ObjectFactory.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="CACHE_DRIVER" value="array" force="true"/>
        <env name="DB_CONNECTION" value="mysql" force="true"/>
        <env name="DB_DATABASE" value="sigaz_test" force="true"/>
        <!-- TODO: Usar mismas credenciales que la otra DB -->
        <env name="DB_USERNAME" value="root" force="true"/>
        <env name="DB_PASSWORD" value="'4YUNT4M13NT0.Z4C4T3C45'" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
    </php>
</phpunit>
